{% extends 'base.html' %}

{% load static %}

{% block title %}Reports{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chart.js/dist/Chart.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 g-5">
            <div class="col">
                <h3 class="pb-4">Game Result</h3>
                {% if game_speed.show %}
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped m-0">
                                <tbody>
                                <tr>
                                    <th scope="row">Best score</th>
                                    <td>{{ game_result.data.best_score }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Accuracy</th>
                                    <td>{{ game_result.data.accuracy }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Best speed</th>
                                    <td>{{ game_result.data.best_speed }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p>To display this chart, you need to play the game at least once</p>
                {% endif %}
            </div>
            <div class="col">
                <h3 class="pb-4">Game Speed</h3>
                {% if game_speed.show %}
                    <canvas id="game-speed-canvas" height="300"></canvas>
                {% else %}
                    <p>To display this chart, you need to play the game at least once</p>
                {% endif %}
            </div>
            <div class="col">
                <h3 class="pb-4">Performance</h3>
                {% if performance.show %}
                    <canvas id="performance-canvas" height="300"></canvas>
                {% else %}
                    <p>To display this chart, you need to pass at least one of tests</p>
                {% endif %}
            </div>
        </div>
        <div class="pt-3">
            <a href="{% url 'core:home' %}" class="btn btn-danger">Back</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script>
        // game speed
        var gameSpeedElement = document.getElementById('game-speed-canvas').getContext('2d');
        new Chart(gameSpeedElement, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'game speed',
                        data: {{ game_speed.data.speed_list }},
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });

        // performance
        var performanceElement = document.getElementById('performance-canvas').getContext('2d');
        new Chart(performanceElement, {
            type: 'radar',
            data: {
                labels: ['Visual memory', 'Working memory', 'Orientation', 'Perspective taking', 'Speed'],
                datasets: [
                    {
                        data: [
                            '{{ performance.data.visual_memory }}',
                            '{{ performance.data.working_memory }}',
                            '{{ performance.data.orientation }}',
                            '{{ performance.data.perspective_taking }}',
                            '{{ performance.data.speed }}'
                        ],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                scale: {
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        min: 0
                    }
                }
            }
        });
    </script>
{% endblock %}
