{% load widget_tweaks %}

<div class="row mb-3">
    {{ field|add_label_class:'col-sm-2 col-form-label' }}
    <div class="col-sm-10">
        {% if field.field.widget.input_type == 'radio' %}
            {{ field|add_class:'radio-control' }}
            {{ field.errors }}
        {% else %}
            {{ field|add_class:'form-control'|add_error_class:'is-invalid' }}
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>{% endif %}
            {{ field.errors }}
        {% endif %}
    </div>
</div>
