<nav class="main-navbar navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand fs-2 text-danger" href="{% url 'core:home' %}">KeepUp</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">
                        Home
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:profile' %}">
                            <i class="fa fa-user pe-1"></i>
                            {% if user.get_full_name %}
                                {{ user.get_full_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:sign-out' %}">Sign Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
